<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Fortune Estates a Mobile App Flat Bootstrap Responsive Website Template | Main :: W3layouts</title> 
<!-- For-Mobile-Apps-and-Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fortune Estates Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, SmartPhone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps-and-Meta-Tags -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="css/ken-burns.css" type="text/css" media="all" /> 
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script> 
<!-- //js -->
<!-- pop-up-box -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	    <script>
			$(document).ready(function() {
				$('.popup-top-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});																							
			}); 
		</script>
<!--//pop-up-box -->
<!-- web-fonts -->  
<link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body class="bg">
	<div class="agile-main"> 
		<div class="menu-wrap" id="style-1"> 
			<nav class="top-nav">
				<ul class="icon-list">
					<li class="menu-title">Fortune Estates</li>
					<li><a class="active" href="main.html"><i class="glyphicon glyphicon-home"></i> Home </a></li>
					<li><a href="about.html"><i class="glyphicon glyphicon-info-sign"></i> About </a></li>
					<li><a href="property.html"><i class="glyphicon glyphicon-briefcase"></i> properties </a></li>
					<li><a href="agents.html"><i class="glyphicon glyphicon-eye-open"></i> Agents </a></li>
					<li><a href="gallery.html"><i class="glyphicon glyphicon-picture"></i> Gallery</a></li>
					<li><a href="#" class="menu"><i class="glyphicon glyphicon-duplicate"></i> pages<span class="glyphicon glyphicon-menu-down"></span></a>
						<ul class="nav-sub">
							<li><a href="#small-dialog" class="sign-in popup-top-anim"><i class="glyphicon glyphicon-user"></i> login</a></li>                                             
							<li><a href="#small-dialog1" class="sign-in popup-top-anim"><i class="glyphicon glyphicon-edit"></i> Sign Up</a></li>																								
							<li><a href="codes.html"><i class="glyphicon glyphicon-list-alt"></i> Short Codes</a></li> 
						</ul>
						<div class="clearfix"> </div>
						<script>
							$( "li a.menu" ).click(function() {
							$( "ul.nav-sub" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script> 
					</li>
					<li><a href="contact.html"><i class="glyphicon glyphicon-envelope"></i> Contact </a></li>
				</ul>
			</nav>
			<button class="close-button" id="close-button">C</button>
		</div> 
		<div class="content-wrap">
			<div class="header"> 
				<div class="menu-icon">   
					<button class="menu-button" id="open-button">O</button>
				</div>
				<div class="logo">
					<h2><a href="main.html">FE</a></h2>
				</div>
				<div class="login">
					<a href="#small-dialog" class="sign-in popup-top-anim"><span class="glyphicon glyphicon-user"></span></a> 
					<!-- modal -->
					<div id="small-dialog" class="mfp-hide">
						<div class="login-modal"> 	
							<div class="booking-info">
								<h3><a href="main.html">Fortune Estates</a></h3>
							</div>
							<div class="login-form">
								<form action="#" method="post">
									<div class="styled-input">
										<input type="text" name="Username" required=""/>
										<label>Username</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="password" name="Password" required=""> 
										<label>Password</label>
										<span></span>
									</div> 
									<div class="wthree-text"> 
										<ul> 
											<li>
												<input type="checkbox" id="brand" value="">
												<label for="brand"><span></span> Remember me ?</label>  
											</li>
											<li> <a href="#">Forgot password?</a> </li>
										</ul>
										<div class="clear"> </div>
									</div> 
									<input type="submit" value="Sign In">		
								</form>
								<p>Don’t have an account ?<a href="#small-dialog1" class="sign-in popup-top-anim"> Sign Up</a></p>
							</div> 
						</div>
					</div>
					<!-- //modal --> 
					<!-- modal-two -->
					<div id="small-dialog1" class="mfp-hide">
						<div class="login-modal">  
							<div class="booking-info">
								<h3><a href="main.html">Fortune Estates</a></h3>
							</div>
							<div class="login-form signup-form">
								<form action="#" method="post">
									<div class="styled-input">
										<input type="text" name="Username" required=""/>
										<label>Username</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="text" name="email" required=""/>
										<label>Email</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="password" name="Password" required=""> 
										<label>Password</label>
										<span></span>
									</div>  
									<div class="wthree-text"> 
										<input type="checkbox" id="brand1" value="">
										<label for="brand1"><span></span>I accept the terms of use</label> 
									</div>
									<input type="submit" value="Sign Up">		
								</form> 
							</div> 
						</div>
					</div>
					<!-- //modal-two --> 
				</div> 
				<div class="clearfix"> </div>
			</div>
			<div class="content">
				<!-- banner -->
				<div class="banner">
					<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
						<!-- Wrapper-for-Slides -->
						<div class="carousel-inner" role="listbox"> 
							<!-- First-Slide -->
							<div class="item active">
								<div class="banner-img"> 
									<div class="carousel-caption kb_caption">
										<h3 data-animation="animated flipInX">Real estate</h3>  
									</div>
								</div>
							</div> 
							<!-- Second-Slide -->
							<div class="item">
								<div class="banner-img banner-img1"> 
									<div class="carousel-caption kb_caption kb_caption_right">
										<h3 data-animation="animated flipInX">Dream Home</h3> 
									</div>
								</div>
							</div> 
							<!-- Third-Slide -->
							<div class="item">
								<div class="banner-img banner-img2"> 
									<div class="carousel-caption kb_caption kb_caption_center">
										<h3 data-animation="animated flipInX">Latest Design</h3> 
									</div>
								</div>
							</div> 
						</div> 
						<!-- Left-Button -->
						<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a> 
						<!-- Right-Button -->
						<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a> 
					</div>
					<script src="js/custom.js"></script>
				</div>
				<!-- //banner -->
				<!-- welcome -->
				<div class="welcome"> 
					<h3 class="w3ls-title">Welcome !</h3> 
					<p class="w3title-text">Sed porta magna vitae nisl lacinia orbi malesuada sollic itudin tortor </p>
					<div class="welcome-info">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class=" nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
									<span class="glyphicon glyphicon-briefcase"></span>
									<h5>Buying</h5>
								</a></li>
								<li role="presentation"><a href="#carl" role="tab" id="carl-tab" data-toggle="tab" aria-controls="carl"> 
									<span class="glyphicon glyphicon-signal"></span>
									<h5>Selling</h5>
								</a></li>
								<li role="presentation"><a href="#james" role="tab" id="james-tab" data-toggle="tab" aria-controls="james"> 
									<span class="glyphicon glyphicon-home"></span>
									<h5>Rental</h5>
								</a></li>
							</ul>
							<div class="clearfix"> </div>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<div class="tabcontent-grids">
										<h4>Find Your Buying Property</h4>
										<form action="#" method="post">
											<input type="search" name="Search" placeholder="Your City..." required="">
											<button type="submit" class="btn btn-default" aria-label="Left Align">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</form>
										<a href="#small-dialog2" class="w3-search popup-top-anim"> Advanced Search</a>
									 </div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="carl" aria-labelledby="carl-tab">
									<div class="tabcontent-grids">
										<h4>Search Your Selling property</h4>
										<form action="#" method="post">
											<input type="search" name="Search" placeholder="Your City..." required="">
											<button type="submit" class="btn btn-default" aria-label="Left Align">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</form>
										<a href="#small-dialog2" class="w3-search popup-top-anim"> Advanced Search</a>
									 </div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="james" aria-labelledby="james-tab">
									<div class="tabcontent-grids">
										<h4>Find Your Wish Rental Property</h4>
										<form action="#" method="post">
											<input type="search" name="Search" placeholder="Your City..." required="">
											<button type="submit" class="btn btn-default" aria-label="Left Align">
												<span class="glyphicon glyphicon-search"></span>
											</button>
										</form>
										<a href="#small-dialog2" class="w3-search popup-top-anim"> Advanced Search</a>
									 </div>
								</div>
							</div>  
							<!-- modal-three --> 
							<div id="small-dialog2" class="mfp-hide">
								<div class="login-modal w3ls-search">  
									<div class="booking-info">
										<h3><a href="main.html">Fortune Estates</a></h3>
									</div>
									<div class="login-form">
										<form action="#" method="post">
											<input type="text"  name="city name" placeholder="City Name..." required="">
											<input type="number" name="rooms" placeholder="Bed Rooms" min="1" required=""> 
											<input type="number" name="rooms" placeholder="Bath rooms" min="1"  required=""> 
											<div class="price">
												<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
												<input type="text" placeholder="From" required="">
											</div>
											<div class="price price-right">
												<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
												<input type="text" placeholder="To" required="">
											</div>
											<select class="form-control"> 
												<option value="">Rental</option> 
												<option value="">Buy</option> 
												<option value="">sale</option>  
											</select>
											<input type="submit" value="Search">		
										</form>  
									</div>
								</div>
							</div>
							<!-- //modal-three --> 
						</div>  
					</div>  	
				</div> 
				<!-- //welcome -->
				<!-- properties -->
				<div class="w3agile properties">
					<div class="properties-top">
						<h3 class="w3ls-title">Our Properties</h3>
						<p class="w3title-text">Lorem Ipsum has been industry's dummy text ever standard remember when your team is playing. </p>
					</div> 
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="images/3.jpg" alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Broome St, Canada, USA </h4>  
							</div>
							<div class="w3ls-buy">
								<a href="single.html">Buy</a> 
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html">Donec at vulputate</a></h5>
							<h6>$500k</h6>
							<p><b>Area :</b> 2,145 sq.ft </p>
							<p><b>Bed Rooms :</b> 2 </p>
						</div>
					</div> 
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="images/2.jpg" alt="">
							<div class="view-caption rent-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> Liberty 2St, New York, USA </h4>  
							</div>
							<div class="w3ls-buy">
								<a href="single.html" class="rent">Rent</a> 
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html">Vulputate donec at </a></h5>
							<h6>$3000</h6>
							<p><b>Area :</b> 2,145 sq.ft </p>
							<p><b>Bed Rooms :</b> 2 </p>
						</div>
					</div>
					<div class="properties-bottom">
						<div class="properties-img">
							<img src="images/1.jpg" alt="">
							<div class="view-caption">
								<h4><span class="glyphicon glyphicon-map-marker"></span> 21B St, Washington, USA </h4>  
							</div>
							<div class="w3ls-buy">
								<a href="single.html">Buy</a> 
							</div>
						</div>
						<div class="w3ls-text">
							<h5><a href="single.html">Ecat vulputate </a></h5>
							<h6>$810K</h6>
							<p><b>Area :</b> 2,145 sq.ft </p>
							<p><b>Bed Rooms :</b> 2 </p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<!-- //properties -->
				<!-- brands -->
				<div class="w3agile brands"> 
					<h3 class="w3ls-title">Our Clients</h3> 
					<div class="brands-info">
						<div class="brand-grids">
							<a href="#"><img src="images/b1.jpg" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="images/b2.jpg" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="images/b3.jpg" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="images/b4.jpg" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="images/b5.jpg" alt=""/></a>
						</div>
						<div class="brand-grids">
							<a href="#"><img src="images/b6.jpg" alt=""/></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- //brands -->
				<!-- footer -->
				<div class="w3agile footer"> 
					<div class="social-icons">
						<ul>
							<li><a href="#"> </a></li>
							<li><a href="#" class="fb"> </a></li>
							<li><a href="#" class="gp"> </a></li>
							<li><a href="#" class="drb"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-nav">
						<ul>  
							<li><a href="main.html"> Home </a></li>
							<li><a href="about.html"> About </a> </li>
							<li><a href="property.html"> Properties </a></li>
							<li><a href="gallery.html"> Gallery</a></li>
							<li><a href="contact.html"> Contact </a></li>
						</ul> 
						<div class="clearfix"> </div>
					</div> 
					<div class="footer-text">
						<p>&copy; 2016 Fortune Estates . All Rights Reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
					</div>
				</div> 
			</div>
		</div>
	</div> 
	<!-- menu-js -->
	<script src="js/classie.js"></script>
	<script src="js/main.js"></script>
	<!-- //menu-js -->
	<!-- nice scroll-js -->
	<script src="js/jquery.nicescroll.min.js"></script> 
	<script>
		$(document).ready(function() {
	  
			var nice = $("html").niceScroll();  // The document page (body)
		
			$("#div1").html($("#div1").html()+' '+nice.version);
		
			$("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV
		});
	</script>
	<!-- //nice scroll-js -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>